/*
* Author - Sonu kumar kushwaha
* Email - flyingsonu736@gmail.com
*/

body {
  font-family: "Montserrat", sans-serif;
  color: #404142;
  font-size: 16px;
  letter-spacing: 0.2px;
  background-color: orange;
}

h1,
h2,
h3,
h4,
h6 {
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  letter-spacing: -0.1px;
  opacity: 0.7;
}

h5{
  font-weight: 900;
  text-align: center;
  font-size: larger;
}

img {
  width: 40px;
  height: 40px;
}

.main {
  text-align: center;
}
.feed {
  text-align: left;
  width: 70%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 20px;
  border: 3px solid #f6f6f6;
  border-radius: 5px;
  background-color: white;
}

/* .feed:hover {
  box-shadow: 3px 3px 10px #ccc;
  transform: translateY(-10px);
} */

.feed {
  margin: 10px;
  padding: 25px;
}

/* 
 ===Custom Media Queries===
 */

/* Mobile */

@media (max-width: 320px) {
  .main .feed {
    width: 100%;
  }
}

/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
  .main .feed {
    width: 49%;
    margin-right: 7px;
  }
}

/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
  .main .feed {
    width: 49%;
    margin-right: 9px;
  }
}
